@import "materialize.scss";

body {
  width: 313px;
  margin: 10px 0 10px 10px;
}

input[type=time] {
  height: auto;
  margin: 0;
}

#allFilters {
  border-top : solid 1px dimgrey;
  padding-top : 10px;
  margin-top : 10px;
}
